<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Integration Tests">
    <test name="Comment">
        <classes>
            <class name="de.siegmar.billomat4j.confirmation.ConfirmationCommentIT" />
            <class name="de.siegmar.billomat4j.creditnote.CreditNoteCommentIT" />
            <class name="de.siegmar.billomat4j.deliverynote.DeliveryNoteCommentIT" />
            <class name="de.siegmar.billomat4j.invoice.InvoiceCommentIT" />
            <class name="de.siegmar.billomat4j.offer.OfferCommentIT" />
        </classes>
    </test>
    <test name="CustomField">
        <classes>
            <class name="de.siegmar.billomat4j.article.ArticleCustomFieldIT" />
            <class name="de.siegmar.billomat4j.client.ClientCustomFieldIT" />
            <class name="de.siegmar.billomat4j.confirmation.ConfirmationCustomFieldIT" />
            <class name="de.siegmar.billomat4j.creditnote.CreditNoteCustomFieldIT" />
            <class name="de.siegmar.billomat4j.deliverynote.DeliveryNoteCustomFieldIT" />
            <class name="de.siegmar.billomat4j.invoice.InvoiceCustomFieldIT" />
            <class name="de.siegmar.billomat4j.offer.OfferCustomFieldIT" />
            <class name="de.siegmar.billomat4j.recurring.RecurringCustomFieldIT" />
            <class name="de.siegmar.billomat4j.reminder.ReminderCustomFieldIT" />
            <class name="de.siegmar.billomat4j.template.TemplateCustomFieldIT" />
            <class name="de.siegmar.billomat4j.unit.UnitCustomFieldIT" />
            <class name="de.siegmar.billomat4j.user.UserCustomFieldIT" />
        </classes>
    </test>
    <test name="Item">
        <classes>
            <class name="de.siegmar.billomat4j.confirmation.ConfirmationItemIT" />
            <class name="de.siegmar.billomat4j.creditnote.CreditNoteItemIT" />
            <class name="de.siegmar.billomat4j.deliverynote.DeliveryNoteItemIT" />
            <class name="de.siegmar.billomat4j.invoice.InvoiceItemIT" />
            <class name="de.siegmar.billomat4j.offer.OfferItemIT" />
            <class name="de.siegmar.billomat4j.recurring.RecurringItemIT" />
            <class name="de.siegmar.billomat4j.reminder.ReminderItemIT" />
        </classes>
    </test>
    <test name="Payment">
        <classes>
            <class name="de.siegmar.billomat4j.creditnote.CreditNotePaymentIT" />
            <class name="de.siegmar.billomat4j.invoice.InvoicePaymentIT" />
        </classes>
    </test>
    <test name="Tag">
        <classes>
            <class name="de.siegmar.billomat4j.article.ArticleTagIT" />
            <class name="de.siegmar.billomat4j.client.ClientTagIT" />
            <class name="de.siegmar.billomat4j.confirmation.ConfirmationTagIT" />
            <class name="de.siegmar.billomat4j.creditnote.CreditNoteTagIT" />
            <class name="de.siegmar.billomat4j.deliverynote.DeliveryNoteTagIT" />
            <class name="de.siegmar.billomat4j.invoice.InvoiceTagIT" />
            <class name="de.siegmar.billomat4j.offer.OfferTagIT" />
            <class name="de.siegmar.billomat4j.recurring.RecurringTagIT" />
            <class name="de.siegmar.billomat4j.reminder.ReminderTagIT" />
        </classes>
    </test>
    <test name="Service">
        <classes>
            <class name="de.siegmar.billomat4j.article.ArticleServiceIT" />
            <class name="de.siegmar.billomat4j.client.ClientServiceIT" />
            <class name="de.siegmar.billomat4j.client.ContactIT" />
            <class name="de.siegmar.billomat4j.confirmation.ConfirmationServiceIT" />
            <class name="de.siegmar.billomat4j.creditnote.CreditNoteServiceIT" />
            <class name="de.siegmar.billomat4j.deliverynote.DeliveryNoteServiceIT" />
            <class name="de.siegmar.billomat4j.invoice.InvoiceServiceIT" />
            <class name="de.siegmar.billomat4j.offer.OfferServiceIT" />
            <class name="de.siegmar.billomat4j.recurring.RecurringServiceIT" />
            <class name="de.siegmar.billomat4j.reminder.ReminderServiceIT" />
            <class name="de.siegmar.billomat4j.settings.SettingsServiceIT" />
            <class name="de.siegmar.billomat4j.template.TemplateServiceIT" />
            <class name="de.siegmar.billomat4j.unit.UnitServiceIT" />
            <class name="de.siegmar.billomat4j.user.UserServiceIT" />
        </classes>
    </test>
</suite>
