<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Tests">
    <test name="Comment">
        <classes>
            <class name="net.siegmar.billomat4j.sdk.confirmation.ConfirmationCommentTest" />
            <class name="net.siegmar.billomat4j.sdk.creditnote.CreditNoteCommentTest" />
            <class name="net.siegmar.billomat4j.sdk.deliverynote.DeliveryNoteCommentTest" />
            <class name="net.siegmar.billomat4j.sdk.invoice.InvoiceCommentTest" />
            <class name="net.siegmar.billomat4j.sdk.offer.OfferCommentTest" />
        </classes>
    </test>
    <test name="CustomField">
        <classes>
            <class name="net.siegmar.billomat4j.sdk.article.ArticleCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.client.ClientCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.confirmation.ConfirmationCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.creditnote.CreditNoteCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.deliverynote.DeliveryNoteCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.invoice.InvoiceCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.offer.OfferCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.recurring.RecurringCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.reminder.ReminderCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.template.TemplateCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.unit.UnitCustomFieldTest" />
            <class name="net.siegmar.billomat4j.sdk.user.UserCustomFieldTest" />
        </classes>
    </test>
    <test name="Item">
        <classes>
            <class name="net.siegmar.billomat4j.sdk.confirmation.ConfirmationItemTest" />
            <class name="net.siegmar.billomat4j.sdk.creditnote.CreditNoteItemTest" />
            <class name="net.siegmar.billomat4j.sdk.deliverynote.DeliveryNoteItemTest" />
            <class name="net.siegmar.billomat4j.sdk.invoice.InvoiceItemTest" />
            <class name="net.siegmar.billomat4j.sdk.offer.OfferItemTest" />
            <class name="net.siegmar.billomat4j.sdk.recurring.RecurringItemTest" />
            <class name="net.siegmar.billomat4j.sdk.reminder.ReminderItemTest" />
        </classes>
    </test>
    <test name="Payment">
        <classes>
            <class name="net.siegmar.billomat4j.sdk.creditnote.CreditNotePaymentTest" />
            <class name="net.siegmar.billomat4j.sdk.invoice.InvoicePaymentTest" />
        </classes>
    </test>
    <test name="Tag">
        <classes>
            <class name="net.siegmar.billomat4j.sdk.article.ArticleTagTest" />
            <class name="net.siegmar.billomat4j.sdk.client.ClientTagTest" />
            <class name="net.siegmar.billomat4j.sdk.confirmation.ConfirmationTagTest" />
            <class name="net.siegmar.billomat4j.sdk.creditnote.CreditNoteTagTest" />
            <class name="net.siegmar.billomat4j.sdk.deliverynote.DeliveryNoteTagTest" />
            <class name="net.siegmar.billomat4j.sdk.invoice.InvoiceTagTest" />
            <class name="net.siegmar.billomat4j.sdk.offer.OfferTagTest" />
            <class name="net.siegmar.billomat4j.sdk.recurring.RecurringTagTest" />
            <class name="net.siegmar.billomat4j.sdk.reminder.ReminderTagTest" />
        </classes>
    </test>
    <test name="Service">
        <classes>
            <class name="net.siegmar.billomat4j.sdk.article.ArticleServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.client.ClientServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.confirmation.ConfirmationServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.creditnote.CreditNoteServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.deliverynote.DeliveryNoteServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.invoice.InvoiceServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.offer.OfferServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.recurring.RecurringServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.reminder.ReminderServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.settings.SettingsServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.template.TemplateServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.unit.UnitServiceTest" />
            <class name="net.siegmar.billomat4j.sdk.user.UserServiceTest" />
        </classes>
    </test>
</suite>
